name: Build binary

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  test_ts:
    name: Build binary
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          version: 9
          run_install: false

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'pnpm'
          cache-dependency-path: 'ts/package.json'

      - name: Install dependencies
        run: cd ts && pnpm install

      - uses: actions/setup-go@v5
        with:
          go-version: '^1.23'
          cache-dependency-path: "**/go.sum"

      - name: Install Protoc
        uses: arduino/setup-protoc@v3

      - name: Build binary
        run: make

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: live-pprof
          path: go/live-pprof
