name: Test go

on:
  push:
    branches: [ "main" ]
    paths:
      - go/**
      - proto/**
      - .github/**
  pull_request:
    branches: [ "main" ]
    paths:
      - go/**
      - proto/**
      - .github/**
  workflow_dispatch:

jobs:
  test_go:
    name: Test go
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: '^1.23'
          cache-dependency-path: "**/go.sum"

      - name: Install Protoc
        uses: arduino/setup-protoc@v3

      - name: Test
        run: cd go && make
